<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http>
        <security:intercept-url pattern="/product/list" access="hasAuthority('PRODUCT_LIST')"/>
        <security:intercept-url pattern="/product/add" access="hasAuthority('PRODUCT_ADD')"/>
        <security:intercept-url pattern="/product/delete" access="hasAuthority('PRODUCT_DELETE')"/>
        <security:intercept-url pattern="/product/update" access="hasAuthority('PRODUCT_UPDATE')"/>
        <security:intercept-url pattern="/userLogin" access="permitAll()"/>
        <security:intercept-url pattern="/imageCode" access="permitAll()"/>
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>
        <security:csrf disabled="true"/>

        <security:custom-filter ref="imageCodeAuthenticationFilter" before="FORM_LOGIN_FILTER"/>

        <security:form-login login-page="/userLogin" authentication-success-forward-url="/index"></security:form-login>
        <security:access-denied-handler error-page="/error"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="myUserDetailService">
            <security:password-encoder ref="passwordEncoder"/>
            <!--        <security:authentication-provider>-->
            <!--            <security:user-service>-->
            <!--                <security:user name="wpp" authorities="PRODUCT_LIST" password="wpp"/>-->
            <!--                <security:user name="admin" authorities="PRODUCT_LIST,PRODUCT_ADD,PRODUCT_DELETE,PRODUCT_UPDATE"-->
            <!--                               password="admin"/>-->
            <!--            </security:user-service>-->
        </security:authentication-provider>
    </security:authentication-manager>
    <bean id="myUserDetailService" class="com.wpp.service.MyUserDetailService"/>
    <bean id="passwordEncoder" class="com.wpp.security.MyPasswordEncoder"/>
    <bean id="imageCodeAuthenticationFilter" class="com.wpp.security.ImageCodeAuthenticationFilter">
        <property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler"/>
    </bean>
    <bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"
          id="simpleUrlAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/error"></property>
    </bean>
</beans>